<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Log in Budget Commander</title>
        <script
                src="http://localhost:35729/livereload.js">
        </script>

        <style>
            @keyframes fadeInOut {
                0% {
                    opacity: 0; /* Начальная прозрачность 0 */
                }
                20% {
                    opacity: 1; /* Бокс становится видимым */
                }
                80% {
                    opacity: 1; /* Бокс остается видимым */
                }
                100% {
                    opacity: 0; /* Бокс становится невидимым */
                }
            }
        </style>
    </head>
    <body style="background: #76b852;
        background: rgb(141,194,111);
        background: linear-gradient(90deg, rgba(141,194,111,1) 0%, rgba(118,184,82,1) 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Montserrat', sans-serif;
        height: 100vh;
        margin: -20px 0 50px;"
    >

    <h1 style = "color: #FFFFFF; margin: 50px auto; font-size: 40px; text-shadow: 1px 1px 2px black;">
        Please Log In Budget Commander
    </h1>
    <form id="loginForm" method="post" style=
                "position: relative;
              z-index: 1;
              background: #FFFFFF;
              max-width: 360px;
              margin: 0 auto 100px;
              padding: 45px;
              text-align: center;
              box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);">
        <div>
            <input type="text" name="username" placeholder="Username"/>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <input type="submit" value="Log in"  style = "font-family: Roboto, sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #4CAF50;
            width: 68.5%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
            margin: 10px;
            "/>
        <br>
        <br>
        <div>
            Don't have an account?
            <a href="/auth/register"> Register</a>
        </div>
    </form>
    <div id="error_box" style="color: red;
                margin: 0px auto;
                background: #FFFFFF;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
                position: absolute;
                z-index: 1;
                background: #FFFFFF;
                max-width: 360px;
                margin: 0 auto -500px;
                padding: 30px;
                text-align: center;
                display: none;
                animation: fadeInOut 3s ease-in-out;
                ">
        Invalid username or password
    </div>

    <script th:src="@{../static/js/collectDataForLogin.js}">
    </script>
    </body>
</html>