<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Data</title>
</head>
    <body>
        <h1>User Data</h1>
        <p>Welcome, <span th:text="${session.username}"></span></p>

        <table>
            <tr>
                <th>Amount</th>
                <th>Date</th>
                <th>Account Bank</th>
                <th>Contragent</th>
                <th>Transaction type</th>
                <th>Transaction group</th>
                <th>Project</th>
                <th>Commentary</th>
                <th>Status</th>
            </tr>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.amount}"></td>
                <td th:text="${transaction.transactionDate}"></td>
                <td th:text="${transaction.accountBank}"></td>
                <td th:text="${transaction.contragent}"></td>
                <td th:text="${transaction.transactionType}"></td>
                <td th:text="${transaction.transactionGroup}"></td>
                <td th:text="${transaction.project}"></td>
                <td th:text="${transaction.commentary}"></td>
                <td th:text="${transaction.status}"></td>
            </tr>
        </table>

        <br>
        <h3>Add new transaction</h3>
        <form id = "newTransactionForm" action = "/auth/userData" method = "post">
            <input type = "hidden" name = "bc_user" value = "${userId}"/>
            <input type="text" name="amount" placeholder="Amount"/>
            <input type="text" name="transactionDate" placeholder="Transaction Date"/>
            <input type="text" name="accountBank" placeholder="Account Bank"/>
            <input type="text" name="contragent" placeholder="Contragent"/>
            <input type="text" name="transactionType" placeholder="Transaction Type"/>
            <input type="text" name="transactionGroup" placeholder="Transaction Group"/>
            <input type="text" name="project" placeholder="Project"/>
            <input type="text" name="commentary" placeholder="Commentary"/>
            <input type="text" name="status" placeholder="Status"/>
            <br>
            <br>
            <input type="submit" value="Add new transaction" />
        </form>


    </body>
</html>